.header-container {
    display: flex;
    flex-direction: row;
    background-color: #ffffff33;
    width: 100%;
    align-self: flex-start;
    justify-self: flex-start;
    padding: 10px;
}

.logo-container {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 730px;
    color: white;
}

.score-content {
    margin-right: 50px;
    color: #ffffff;
}

.top-score-content {
    color: #ffffff;
}